#wrapper {
  max-width: 1440px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  inline-size: center;
  padding-bottom: 5%;
}

.header__text {
  margin-top: auto;
  margin-bottom: auto;
}
.header__text1 {
  font-size: 25px;
  padding-bottom: 5%;
  font-family: "Roboto Bold", sans-serif;
}
.header__text2 {
  font-size: 35px;
  line-height: 1.3;
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
}
.header__button {
  width: 200px;
  height: 50px;
  background-color: #b5ca00;
  border-radius: 5%;
  font-family: "Roboto Bold", sans-serif;
}
.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
  margin: auto;
}
.section__zagolovok {
  font-size: 45px;
  text-align: center;
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
}
.section__money_text {
  border-bottom: 1px solid maroon;
  font-size: 20px;
  width: 180px;
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

.section__group_text {
  border-bottom: 1px solid maroon;
  width: 200px;
  font-size: 20px;
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

.section__grouphouse_text {
  border-bottom: 1px solid maroon;
  padding-bottom: 5px;
  font-size: 20px;
  width: 150px;
  font-family: "Roboto", sans-serif;
}

.section__portfel_text {
  border-bottom: 1px solid maroon;
  width: 185px;
  font-size: 20px;
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
}
.section__money_lorem {
  font-family: "Roboto Light", sans-serif;
}
.section__group_lorem {
  font-family: "Roboto Light", sans-serif;
}
.section__grouphouse_lorem {
  font-family: "Roboto Light", sans-serif;
}
.section__portfel_lorem {
  font-family: "Roboto Light", sans-serif;
}
.section2__zagolovok {
  font-size: 45px;
  text-align: center;
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
}
.section2 {
  display: flex;
  justify-content: space-between;
  inline-size: center;
  padding-bottom: 7%;
}

.section2__div1_p1 {
  font-size: 20px;
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
}

.section2__div2_p1 {
  font-size: 20px;
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
}

.section2__div3_p1 {
  font-size: 20px;
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
}
.section2__div1_p2 {
  font-family: "Roboto Light", sans-serif;
}
.section2__div2_p2 {
  font-family: "Roboto Light", sans-serif;
}
.section2__div3_p2 {
  font-family: "Roboto Light", sans-serif;
}
.section__anketa {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}
.zagolovok3 {
  display: flex;
  justify-content: flex-start;
}
.section3 {
  display: flex;
  inline-size: center;
  margin-top: auto;
  margin-bottom: auto;
  background-color: blueviolet;
  justify-content: space-around;
  padding-top: 5%;
}
.section__anketa_img {
  margin-top: -3%;
}
.section__background {
  background: blueviolet;
  height: 500px;
}
.first_two {
  display: flex;
  flex-direction: column;
}
.second_two {
  display: flex;
  flex-direction: column;
}
input {
  font-family: "Roboto Light", sans-serif;
}
.section__fio {
  font-size: 30px;

  padding-bottom: 5%;
  color: white;
  font-family: "Roboto", sans-serif;
}
.section__data {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
}
#start {
  width: 365px;
}
.section__tel {
  font-size: 30px;
  padding-bottom: 5%;
  color: white;
  font-family: "Roboto", sans-serif;
}

.section__citizenship {
  font-size: 30px;
  padding-bottom: 7%;
  color: white;
  font-family: "Roboto", sans-serif;
}

#citizenship {
  width: 370px;
}
.section__button {
  width: 300px;
  height: 50px;
  background-color: #b5ca00;
  border-radius: 5%;
  font-family: "Roboto Bold", sans-serif;
}
.section__faq {
  padding-top: 1%;
}
.section__zagolovok_voprosi {
  font-size: 45px;
  text-align: center;
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5%;
}
.vopros1 {
  padding-bottom: 2%;
}
.vopros2 {
  padding-bottom: 2%;
}
.vopros3 {
  padding-bottom: 2%;
}
.vopros4 {
  padding-bottom: 2%;
}
.vopros5 {
  padding-bottom: 2%;
}
.vopros1_1 {
  font-size: 25px;
  border-bottom: 1px solid maroon;
  width: 450px;
  font-family: "Roboto", sans-serif;
}
.vopros2_1 {
  font-size: 25px;
  border-bottom: 1px solid maroon;
  width: 450px;
  font-family: "Roboto", sans-serif;
}
.vopros3_1 {
  font-size: 25px;
  border-bottom: 1px solid maroon;
  width: 450px;
  font-family: "Roboto", sans-serif;
}
.vopros4_1 {
  font-size: 25px;
  border-bottom: 1px solid maroon;
  width: 450px;
  font-family: "Roboto", sans-serif;
}
.vopros5_1 {
  font-size: 25px;
  border-bottom: 1px solid maroon;
  width: 450px;
  font-family: "Roboto", sans-serif;
}
.vopros1_2 {
  font-size: 18px;
  margin-top: 0.5%;
  font-family: "Roboto", sans-serif;
}
.vopros2_2 {
  font-size: 18px;
  margin-top: 0.5%;
  font-family: "Roboto", sans-serif;
}
.vopros3_2 {
  font-size: 18px;
  margin-top: 0.5%;
  font-family: "Roboto", sans-serif;
}
.vopros4_2 {
  font-size: 18px;
  margin-top: 0.5%;
  font-family: "Roboto", sans-serif;
}
.vopros5_2 {
  font-size: 18px;
  margin-top: 0.5%;
  padding-bottom: 3%;
  font-family: "Roboto", sans-serif;
}
.section__button_end {
  width: 200px;
  height: 50px;
  margin-top: 5%;
  margin: 0 auto;
  display: block;
  background-color: #b5ca00;
  border-radius: 5%;
  font-family: "Roboto Bold", sans-serif;
}
