#wrapper {
  max-width: 1440px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  inline-size: center;
  padding-bottom: 5%;
}
.header__text {
  margin-top: auto;
  margin-bottom: auto;
}
.header__text1 {
  font-size: 25px;
  padding-bottom: 5%;
  font-family: "Roboto Bold", sans-serif;
  color: #b5ca00;
}
.header__text2 {
  font-size: 35px;
  line-height: 1.3;
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
}
.header__button {
  width: 200px;
  height: 50px;
  background-color: #b5ca00;
  border-radius: 5%;
  font-family: "Roboto Bold", sans-serif;
}
.header__button:hover {
  background-color: #d1e705;
}
